body {
    margin: 0;
    padding: 0;
    font-family: Trebuchet, Calibri, sans-serif;
    background-color: #fcba03;
    box-sizing: border-box;
}

h1, h2 {
    margin: 0;
}

p {
    text-align: center;
    margin-bottom: 0;
    padding: 0 1rem;
}

a {
    text-decoration: none;
    color: rgb(122, 122, 122);
}

a:hover {
    color: #000;
    transition: all ease-in 0.2s;
}

header {
    text-align: right;
    margin: 1rem 2rem;
}

header a {
    margin-left: 1rem;
}

.log-button {
    text-align: center;
}

.error-message {
    color: rgb(185, 0, 0);
}

.validation-message {
    color: rgb(2, 117, 2);
}

.main{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    background-color: #FFF;
    padding: 1rem 0;
    border-radius: 10px;
    transform: translate(-50%, -50%);
}

.main h1 {
    text-align: center;
    padding-bottom: 1rem;
    text-transform: uppercase;
    border-bottom: 1px solid #fcba03;
}

.main form {
    padding: 0 2rem;
    margin: 1rem auto 0 auto;
}

.main form div {
    margin-bottom: 1rem;
}

.main div:last-child {
    margin-bottom: 0;
}

.main label, .main input {
    display: block;
}

.main input, button, textarea {
    border: 1px solid rgb(228, 228, 228);
    font-size: 1rem;
}

.main input[type=text], .main input[type=email], .main input[type=password], textarea, .main input[type=button], button {
    padding: 10px 15px;
    width: 100%;
}

.main input[type=text], .main input[type=email], .main input[type=password], textarea {
    border-radius: 8px;
    box-sizing: border-box;
}

.main input[type=button], button {
    margin-top: 2rem;
    display: inline-block;
    border-radius: 20px;
}

.main input[type=button]:hover, button:hover {
    cursor: pointer;
    background-color: #fcba03;
    transition: all ease-in 0.2s;
}

/* POST */
div.posts {
    width: 80%;
    position: relative;
    margin: 1rem auto;
    top: 0;
    left: 0;
    transform: translate(0, 0);
}

.posts_list {
    padding: 1rem 1rem 0 1rem;
}

.posts_list_post {
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: 2px 2px 10px rgb(218, 218, 218);
}

.posts_list_post:last-child {
    margin-bottom: 0;
}

.posts_list_post p {
    text-align: left;
    padding: 0;
}

.posts > button {
    width: 30%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

div.post {
    width: 80%;
}

.post textarea {
    height: 200px;
}

.hide {
    display: none;
}

button + p {
    margin-top: 1.5rem;
}

/* RESPONSIVE */

@media screen and (min-width: 1024px) {
    .main {
        width: 30%;
    }

    div.post {
        width: 50%;
    }
}

@media screen and (max-width: 767px) {
    .main {
        width: 80%;
    }  
}